@media only screen and (max-width: 480px) {
	.hero-image {
		width: 100%;
	}
	.work-image {
		width:100%;
		padding-left: 10px;
	}
	/*.body {
		padding: 20px 80px 20px 30px;
	}*/
	.site-header {
		/*padding-top: 10px;*/
		/*margin: 0;*/
		display: inline-block;
	}

}
