.row {
  width: 100%;
}
.body {
  background: #000000;
}
.clickables {
  height: 140px;
  padding-top: 40px;
}
.glyphicon-home {
  font-size:1em;
  padding-left:0px;
  float: left;
}
.work-title {
  padding-top: 60px;
  text-align: center;
  padding-right: 80px;
  color: white;
  font-size: 2em;
}
.logo-links {
  height: 70px;
}
#contact-header {
  padding-top: 60px;
}
#name-work {
  padding: 0;
  /*margin:0;*/
  text-align: center;
  color: white;
}
.work-row {
  padding-top: 60px;
  float: center;
  text-align: center;
}
#contact {
  margin-left: 0;
  float: right;
  width: 20%;
  text-align: right;
}
#work {
  float: center;
  width: 10%;
  text-align: center;
}
.email {
  padding-top: 20px;
}
.me-text {
  color: white;
  text-indent: 50px;
}
.work-text {
  color: white;
  text-align: center;
}
#site-header {
  width: 100%;
  background: #000000;
  color: white;
  font-size: 1.5em;
  padding: 0;
  }
.resume {
  height: 60px;
  color: white;
}
.resume:hover {
  color: grey;
}
.resume-grid {
  padding-top: 80px;
  text-align: center;
}
.button {
  display: inline-block;
  color: white;
  text-size: 2em;
}
.button:hover {
  color: grey;
}
#site-content {
  background: #000000;
}
.second-half {
  padding-top: 120px;
  text-align: center;
  padding-right: 80px;
}
.pic {
  width: 300px;
  padding-top: 60px;
}
.social-buttons {
  padding-top: 20px;
  padding-bottom: 0;
}
.things-in-row {
  padding-top: 60px;
}
.hero-image {
  border-radius: 20px;
  opacity: .8;
  padding-top: 60px;
}
.work-image {
  padding-top: 60px;
}
.work-photos-row {
  padding-top: 60px;
}
.wrapper {
  position: relative;
}
.footer {
  padding-top: 30px;
}
