body {
  margin:0px;
}
.body {
  padding-left: 10%;
  padding-right: 10%;
  background: #000000;
}
.clickables {
  height: 40px;
}
.glyphicon-home {
  font-size:1em;
  padding-left:0px;
  margin-left:0px;
}
#site-header {
  width: 100%;
  background: #000000;
  color: white;
  font-size: 1.5em;
  }
#site-menu {
  width:100%;
  padding:0;
}
.button {
  display: inline-block;
}
#site-content {
  background: #000000;
}

.hero-image {
padding-top: 100px;
width:600px;
position:absolute;
background-color:#000000;
border-radius: 20px;
}
