<div class="container">
  <div>
    <h1 id="name-work" class="button" ng-click="goHome()">Damian House</h1>
  </div>
  <div class="row site-header">
    <div class="col-xs-12">
      <div id="work" class="col-xs-1">
        <div class="button small-button" ng-click="goWork()">work</div>
      </div>
      <div id="contact" class="col-xs-1 col-xs-offset-9">
        <div class="button small-button" ng-click="goContact()">contact</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-push-6">
      <img src="img/portfolioimage.jpg" class="hero-image">
    </div>
    <div class="contact-buttons">
      <div class="col-xs-12 col-md-6 col-md-pull-6 resume-grid second-half">
        <a href="img/Resume.pdf" download="img/Resume.pdf" class="resume">
          <i class="fa fa-file-o fa-3x resume" aria-hidden="true"></i><br>
          Resume.pdf</a><br>
          <div class="social-buttons">
            <a target="_blank" href="https://github.com/damianhouse">
              <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://twitter.com/damiankhouse">
              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/damiankhouse">
              <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
            </a><br>
          </div>
        <div class="email">
          <a href="mailto:damianhouse@gmail.com" class="clickables resume">damianhouse@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
