<div class="container">
  <div>
    <h1 id="name-work">Damian House</h1>
  </div>
  <div id="site-header">
    <div class="row">
      <div class="button glyphicon glyphicon-home" ng-click="goHome()"></div>
      <div id="work" class="col-sm-12 col-sm-offset-5">
        <div class="button" ng-click="goWork()">work</div>
      </div>
      <div id="contact" class="col-sm-12 col-sm-offset-6">
        <div class="button" ng-click="goContact()">contact</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row things-in-row">
    <div class="contact-buttons">
      <div class="col-xs-12 col-md-6 resume-grid">
        <a href="img/Resume.pdf" download="img/Resume.pdf" class="resume">
          <i class="fa fa-file-o fa-3x resume" aria-hidden="true"></i><br>
          Resume.pdf</a><br>
          <div class="social-buttons">
            <a target="_blank" href="https://github.com/damianhouse">
              <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://twitter.com/damiankhouse">
              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/damiankhouse">
              <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
            </a><br>
          </div>
        <div class="email">
          <a href="mailto:damianhouse@gmail.com" class="clickables resume">damianhouse@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <img src="img/portfolioimage.jpg" class="hero-image">
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-5 col-xl-6 col-xl-offset-5">
      <div class="social-media">

      </div>

    </div>
  </div>
</div>
