<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <div id="site-header">
          <div class="site-menu">
            <div class="button glyphicon glyphicon-home" ng-click="goHome()"></div>
            <div class="button" ng-click="goContact()">contact</div>
            <div class="button" ng-click="goResume()">resume</div>
          </div>
      </div>
    </div>
  </div>

  <div class="row things-in-row">
    <div class="col-xs-12 col-md-6">
      <img src="img/portfolioimage.jpg" class="hero-image">
    </div>
    <div class="col-xs-12 col-md-6">
        <p class="me-text">Some text here about myself and why I like coding and photography. I hope that this site helps me get an awesome job somewhere.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="social-media">
        <a target="_blank" href="https://github.com/damianhouse"><img src="./img/octocat.png" alt="" class="clickables"></a>
        <a target="_blank" href="https://twitter.com/damiankhouse"><img src="./img/twitter.png" alt="" class="clickables"></a>
        <a target="_blank" href="https://www.linkedin.com/in/damiankhouse"><img src="./img/linkedin.png" alt="" class="clickables"></a><br>
      </div>
      <div class="email">
        <a href="mailto:damianhouse@gmail.com" class="clickables">damianhouse@gmail.com</a>
      </div>
    </div>
  </div>
</div>
