<div class="container">
  <div>
    <div id="name-work" class="button menu-button" ng-click="goHome()">Damian House</div>
  </div>
  <div class="row site-header">
    <div class="col-xs-12">
      <div id="work" class="col-xs-1">
        <div class="button small-button menu-button" ng-click="goWork()">work</div>
      </div>
      <div id="contact" class="col-xs-1 col-xs-offset-6 col-md-1 col-md-offset-9">
        <div class="button small-button menu-button" ng-click="goContact()">contact</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img src="img/portfolioimagelookingtotheright.jpg" class="hero-image">
    </div>
    <div class="col-xs-12 col-md-6" >
        <p class="me-text second-half">I am a recent graduate of the The Iron Yard Durham Ruby on Rails program. Since the age of 14 I worked in the food service industry. I split the last decade working at both The Fearrington House Restaurant and Herons at The Umstead Hotel and Spa as a server. During the summer of 2015 I had the realization that I had capped out in this industry for this area and so I began learning to code.</p>
        <p class="me-text">I spent three rigorous months at The Iron Yard Durham bootcamp for Ruby on Rails and really developed an addiction to coding. Since I graduated I have been satisfying my addiction by learning AngularJS, and. A front end framework that I used to write and design this site.</p>
    </div>
  </div>
</div>
