<div class="container">
  <div>
    <h1 id="name-work" class="button" ng-click="goHome()">Damian House</h1>
  </div>
  <div class="row site-header">
    <div class="col-xs-12">
      <div id="work" class="col-xs-1">
        <div class="button small-button" ng-click="goWork()">work</div>
      </div>
      <div id="contact" class="col-xs-1 col-xs-offset-9">
        <div class="button small-button" ng-click="goContact()">contact</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-md-offset-3">
      <img src="img/upsidedown.jpg" class="work-image">
    </div>
  </div>
  <div class="work-title">Trind
    <a target="_blank" href="https://github.com/damianhouse/trind">
      <i class="fa fa-github fa" aria-hidden="true"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="work-text">A social networking web application focusing on one-on-one interactions to make new friends. Users can search by key words or make their own post of what they would like to do. Users communicate through built-in messaging.</p>
        <p class="work-text">Trind is mobile first and uses a Rails-API back-end to AngularJS front-end with Google Maps Javascript API.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="work-carousel" class="col-xs-12">
      <div style="height: 300px">
        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" style="margin:auto;">
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
</div>
