<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
        <div id="site-header">
          <div class="site-menu">
            <div class="button glyphicon glyphicon-home" ng-click="goHome()"></div>
            <div id="work" class="col-sm-12 col-sm-offset-5">
              <div class="button" ng-click="goWork()">work</div>
            </div>
            <div id="contact" class="col-sm-12 col-sm-offset-11">
              <div class="button" ng-click="goContact()">contact</div>
            </div>
            <h1 id="name-work">Damian House</h1>
          </div>
      </div>
    </div>
  </div>
  <div class="row work-row">
    <img src="img/upsidedown.jpg" class="hero-image">
  </div>
  <div class="row work-photos-row">
    <div class="col-xs-12 col-md-3">
      <img src="img/trind-landing.png">
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="img/trind-index.png">
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="img/trind-details.png">
    </div>
    <div class="col-xs-12 col-md-3">
      <img src="img/trind-conversations.png">
    </div>
  </div>

</div>
